# Logs
logs
*.requestLog
npm-debug.requestLog*
yarn-debug.requestLog*
yarn-error.requestLog*
pnpm-debug.requestLog*
lerna-debug.requestLog*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/src/components/Header/
