<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.mapper.FriendLinkMapper">

    <insert id="addFriendLink" parameterType="org.example.entity.dto.FriendLink">
        insert into db_f_link (fid,name, `desc`, url, avatar)
        values (#{fid}, #{name}, #{desc}, #{url}, #{avatar})
    </insert>

    <update id="updateFriendLink" parameterType="org.example.entity.dto.FriendLink">
        update db_f_link
        set name = #{name}, `desc` = #{desc}, url = #{url}, avatar = #{avatar}
        where fid = #{fid}
    </update>

    <delete id="deleteFriendLink" parameterType="int">
        delete from db_f_link where fid = #{id}
    </delete>

    <!-- 根据名称模糊查询友链 -->
    <select id="getFriendLinksWithLimit" resultType="org.example.entity.dto.FriendLink">
        select * from db_f_link where name like CONCAT('%', #{text}, '%') limit #{page}, #{limit}
    </select>

    <select id="getAllFriendLinks" resultType="org.example.entity.dto.FriendLink">
        select * from db_f_link
    </select>

    <select id="getCountFriendLink" resultType="int">
        select count(*) from db_f_link
    </select>

    <select id="getFriendLinkById" parameterType="int" resultType="org.example.entity.dto.FriendLink">
        select * from db_f_link where fid = #{id}
    </select>

    <select id="searchFriendLinks" parameterType="string" resultType="org.example.entity.dto.FriendLink">
        select * from db_f_link where name = #{fname}
    </select>

</mapper> 